<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636781032251-sdnc06o9qdq56mff5976d7bd23vso65j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636781032251-sdnc06o9qdq56mff5976d7bd23vso65j</string>
	<key>API_KEY</key>
	<string>AIzaSyC17ZamKbYZkEIljdAGA5HWA9RfxPKql9o</string>
	<key>GCM_SENDER_ID</key>
	<string>636781032251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>selcuk.eCommerceApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-603ab</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-603ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636781032251:ios:b57a411633ce732fe7fd1e</string>
</dict>
</plist>